@import "palette.css"; 

.checkmarkContainer {
    user-select: none;
}

.checkmark {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    float: left;
    /*display: inline-block;*/

    background-color: var(--color-2);
    border: 3px solid;
    border-color: var(--color-4);
}

.checkmarkContainer input[type="checkbox"]:checked ~ .checkmark {
    background-color: var(--color-3);
    border: 3px solid;
    border-color: var(--color-2);
}

.checkmark div {
    position: relative;
    top: 28px;
    user-select: none;

    color: #000;
}

.checkmarkContainer input[type="checkbox"]:checked ~ .checkmark div {
    color: white;
}

.visually-hidden {
    position: absolute;
    left: -100vw;
    
    /* Note, you may want to position the checkbox over top the label and set the opacity to zero instead.
    It can be better for accessibilty on some touch devices for discoverability. */
}