@import "palette.css"; 

body {
    font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header {
    background-color: var(--color-1);
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header > div {
    margin: 0 50px;
}

#main {
    background-color: var(--color-2);
    flex: 1;
    padding: 10px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#number {
    font-size:x-large;
    margin-bottom: 20px;
}

#answer {
    padding: 10px;
    margin: 10px;
    box-sizing: content-box;
    font-size: x-large;
}

footer {
    background-color: var(--color-1);
    padding: 10px;
    text-align: center;
}

.valid {
    animation-name: valid;
    animation-duration: 1s;
    animation-timing-function: linear;
}

@keyframes valid {
    from { 
        border-color: green;
        border-left-width: 8px;
        border-right-width: 8px;
    }
    to { 
        border-color: transparent;
        border-left-width: 0px;
        border-right-width: 0px;
    }
}

.wrong {
    animation-name: wrong;
    animation-duration: 1s;
    animation-timing-function: linear;
}

@keyframes wrong {
    0% {
        border-color: red;
        border-left-width: 8px;
        border-right-width: 8px;
        transform: translateX(10px);
    }
    10% {
        transform: translateX(-10px);
    }
    20% {
        transform: translateX(8px);
    }
    30% {
        transform: translateX(-8px);
    }
    100% {
        border-color: transparent;
        border-left-width: 0px;
        border-right-width: 0px;
        transform: translateX(0);
    }
}