@import "palette.css"; 

body {
    font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, sans-serif;
    font-size: 95%;
    margin: 0;
    background-color: var(--color-2);
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: var(--color-1);
    padding: 10px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2vw;
}

#main {
    flex: 1;
    width: 50%;
    margin: auto;
    text-align: end;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5vw;
}

footer {
    background-color: var(--color-1);
    padding: 10px;

    display: flex;
    justify-content: center;
}

.pattern {
    background-image: url("../pattern.jpg");
    background-blend-mode: multiply;
    background-size: 100%;
}

/* ------ QUESTION ------- */
#number {
    font-size: x-large;
}