body {
    background-color: beige;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header {
    background-color: blue;
    padding: 10px;
    text-align: center;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#main {
    background-color: aquamarine;
    flex: 1;
    padding: 10px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#number {
    margin-bottom: 10px;
} 

footer {
    background-color: blue;
    padding: 10px;
    text-align: center;
}